/* div is een "block"-element */

div#container {
    box-sizing: border-box;
    border: solid 1px black;
    width: 80vw;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: orange;
    padding-bottom: 1cm;
}

p {
    color: yellow;
    padding-left: 1cm;
    padding-right: 1cm;
}

.rood {    /* class! */
    color: red;
    font-weight: bold;
}

#menubalk {
    width: 100%;
    height: 1.34cm;
    background-color: black;
    color: yellow;
/*    text-align: right;*/
    font-size: 14px;
}

a:link, h1 {
    box-sizing: border-box;
    
    display: inline-block;
    font-size: 11px;
    font-weight: normal;
    color:yellow;
    
    padding: 0.5cm;
    
    width: 3cm;
    margin-top: 0;
    background-color: transparent;
    
    float: right;
    
}

h1 {
    color: deepskyblue;
    background-color: green;
}


a:visited {
    color: yellow;
}

.speciaal {
    font-size: 19px;
    color: purple;
}

#logo {                 /* het rode ding */
    width: 45px;
    height: 45px;
    background: transparent url(pasfotoklein.jpg) no-repeat;
    float: left;
    
    margin-top: -1px;
    margin-left: -1px;
}